.button-container {
    width: fit-content;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    background-color: var(--creme-red);
    color: var(--creme);
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0.25rem;
    margin-left: auto;
}
